.page {
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  max-width: 880px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 40px;
}
