.profile__edit-button {
  width: 100%;
  max-width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  padding: 0;
  margin-top: 5px;
  background-image: url(../../../images/profile-info-slash.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 791px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/profile-edit-button-mobile.svg);
  }
}
