.footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0 auto 60px;
}

@media screen and (max-width: 940px) {
  .footer {
    max-width: calc(100vw - 30px * 2);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(100vw - 19px * 2);
    margin-bottom: 34px;
  }

}
