.auth__link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 100%;
}