.popup__container {
  width: 100%;
  min-height: 330px;
  max-width: 430px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  position: relative;
  align-self: center;
  box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
