.elements__list {
  margin: 0 auto 66px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 17px;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .elements__list {
    max-width: calc(100vw - 30px * 2);
  }
}

@media screen and (max-width: 320px) {
  .elements__list {
    max-width: calc(100vw - 19px * 2);
  }
}
