@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-avatar-btn/profile__edit-avatar-btn.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__caption-like/element__caption-like.css);
@import url(./blocks/element/__card-delete/element__card-delete.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__counter-likes/element__counter-likes.css);

@import url(./blocks/footer/footer.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/_big-image/popup_big-image.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/popup/__notification/_type/popup__notification_type_successfull.css);
@import url(./blocks/popup/__notification/_type/popup__notification_type_faul.css);