.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  min-height: 74px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 940px) {
  .header {
    max-width: calc(100vw - 30px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin: 28px auto 42px;
    min-height: 56px;
  }
}
